<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
 
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG</title>
</head>
<body>
<nav>
    <div class="nav-wrapper blue-grey darken-4">
    <a href="{% url 'home' %}" class="brand-logo" style="margin-left: 20px">LIKELION</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'home' %}">홈</a></li>
        <li><a href="{% url 'new' %}">글쓰기</a></li>
        <li><a href="{% url 'portfolio' %}">사진첩</a></li>
    </ul>
    </div>
</nav>

<div class="container">
        <div class="container">
        <h3 class="head" style="text-align: center">사진첩</h3>
        <p class="lead text-muted" style="text-align: center">지금까지의 기록, <br> 앞으로의 기록</p>
        <p class="center-align"> 
            <a href="#" class="waves-effect waves-light btn blue-grey lighten-2">- 2016</a>
            <a href="#" class="waves-effect waves-light btn blue-grey lighten-2">2017</a>
            <a href="#" class="waves-effect waves-light btn blue-grey lighten-2">2018</a>
            <a href="#" class="waves-effect waves-light btn blue-grey lighten-2">2019 - </a>
        </p>
        </div>
</div>

    {% for portfolio in portfolios.all %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                <span class="title">{{portfolio.desctiption}}</span>
                </div>
            <div class="col s12 m6 l4">                            
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img width="305" height="229" src="{{portfolio.image.url}}" class="responsive-img wp-post-image"sizes="(max-width: 305px) 100vw, 305px" /> 
                        <span class="card-title home">{{portfolio.desctiption}}</span>
                    </div>
                </div>        
            </div>
            </div>
        </div>
    </div>
    
    {% endfor %}


    <ul class="pagination justify-content: center">
            <li class="disabled"><a href="#!"><i class="material-icons"></i></a></li>
            <li class="active blue-grey lighten-1"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons"></i></a></li>
        </ul>
       


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    </body>
</html>