{% extends 'base.html' %}

{% block contents %}
<body>
<br>
{% for blog in blogs.all %}
<div class="container">
<div class="row">
    <div class="col s12">
        <div class="card white">
            <div class="card-content black-text">
                <span class="card-title">{{blog.title}}</span>
                <p>{{blog.summary}}</p>
            </div>
            <div class="card-action" style="padding-top: 10px; padding-botton: 10px;">
                <p>{{blog.pub_date}}</p>
                <a href="{% url 'detail' blog.id %}">...more</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endfor %}

<ul class="pagination justify-content: center">
    <li class="disabled"><a href="#!"><i class="material-icons"></i></a></li>
    <li class="active blue-grey lighten-1"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons"></i></a></li>
</ul>


</body>
{% endblock %}