<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
 
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG</title>
</head>
<body>
<nav>
    <div class="nav-wrapper blue-grey darken-4">
    <a href="{% url 'home' %}" class="brand-logo" style="margin-left: 20px">LIKELION</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'home' %}">홈</a></li>
        <li><a href="{% url 'new' %}">글쓰기</a></li>
        <li><a href="{% url 'portfolio' %}">사진첩</a></li>
    </ul>
    </div>
</nav>

<div class="container">
    <form class="col s12" action="{% url 'create' %}">
        <div class="row">
            <div class="input-field col s12" style="margin-top: 50px">
                <input id="input_text" type="text" data-length="30">
                <label for="input_text">제목</label>
            </div>
        </div>
        <br>
        <br>
        <div class="file-field input-field">
                <div class="btn blue-grey lighten-3">
                    <span>첨부파일</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper ">
                    <input class="file-path validate" type="text" placeholder="첨부파일">
                </div>
        </div>
        <br>
        <div class="row">
            <div class="input-field col s12">
        <textarea id="textarea2" class="materialize-textarea" style="padding-bottom: 0px"></textarea>
        <label for="textarea2">내용</label> 
        <br>
        <br>
        <br>
        <div style="text-align: right; width:100%; padding:0;">
            <input class="btn blue-grey" type="submit" value="제출하기">
            <input class="btn blue-grey" type="submit" value="뒤로가기">
            </div>
        </div>
    </form>        


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    </body>
</html>